* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: crimson;
}

.left {
    margin-top: -2rem;
    height: 8rem;
    width: 8rem;
}

.left img {
    background-size: cover;
    height: 8rem;
    width: 8rem;
}

header {
    display: flex;
    justify-content: space-between;
}

.mid ul {
    margin-top: 1rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
}

.mid ul a {
    color: black;
    text-decoration: none;
}

.right {
    margin-right: 1rem;
    margin-top: 1rem;
}